{{outlet}}

<div class="typography">
    <p class="font-page-header-title">优先使用系统默认字体</p>
    <p class="font-empty-prompt-title">优先使用系统默认字体</p>
    <p class="font-dialog-title">优先使用系统默认字体</p>
    <p class="font-form-info-title">优先使用系统默认字体</p>
    <p class="font-main-text">优先使用系统默认字体</p>
    <p class="font-help-text">优先使用系统默认字体</p>
    <p class="font-minimum-text">优先使用系统默认字体</p>
    <p class="font-system-level-link">优先使用系统默认字体</p>
    <h1 class="font-product-level-link">优先使用系统默认字体</h1>
</div>
<div class="">
    <button class="bm-button-primary-default">确定</button>
    <a class="bm-button-primary-default">前往预约课程</a>
</div>
